<a href="https://colab.research.google.com/github/calixtojp/TrabalhosBancoDeDados/blob/main/T1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução
Esse trabalho foi desenvolvido pelos alunos:

    - João Pedro Soares de Azevedo Calixto | nro USP: 13732011 | email: jpcalixto@usp.br
    - Miller Matheus Lima Anacleto Rocha | nro USP: 13727954 | email: AnacletoMiller@usp.br

# Preparação do ambiente de desenvolvimento

In [ ]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

In [ ]:
############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

In [ ]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

In [ ]:
%config SqlMagic.autocommit=False

In [ ]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS trabalho1 WITH (FORCE);
COMMIT;
CREATE DATABASE trabalho1
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
(psycopg2.errors.ActiveSqlTransaction) ERRO:  DROP DATABASE não pode ser executado dentro de um bloco de transação

[SQL: DROP DATABASE IF EXISTS trabalho1 WITH (FORCE);]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [ ]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True

In [ ]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/trabalho1')
%sql postgresql://postgres:pgadmin@localhost/trabalho1

In [ ]:
%sql SELECT Current_Database();

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('trabalho1',)]

In [ ]:
%sql DB << SELECT Current_Database();
print('\n  Conexão default:')
print(DB)
print('Tipo da resposta:', type(DB))

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
Returning data to local variable DB

  Conexão default:
+------------------+
| current_database |
+------------------+
|    trabalho1     |
+------------------+
Tipo da resposta: <class 'sql.run.ResultSet'>

# Criação das tabelas

In [ ]:
%%sql

DROP TABLE IF EXISTS Usuario CASCADE;
CREATE TABLE Usuario (
    id SERIAL PRIMARY KEY,
    nome        VARCHAR(40)     NOT NULL,
    sobrenome   VARCHAR(100)    NOT NULL,
    telefone    VARCHAR(20)     NOT NULL,
    nascimento  DATE,
    cidade        VARCHAR(50)   NOT NULL,
    estado        VARCHAR(50)   NOT NULL,
    cep           VARCHAR(10)   NOT NULL,
    rua           VARCHAR(255)  NOT NULL,
    numero_casa   VARCHAR(10)   NOT NULL,
    complemento   VARCHAR(255),
    email       VARCHAR(40),
    senha       VARCHAR(16),
    sexo        CHAR(1)
);

DROP TABLE IF EXISTS Locatario CASCADE;
CREATE TABLE Locatario (
  user_id       SERIAL PRIMARY KEY,
  FOREIGN KEY (user_id) REFERENCES Usuario(id)
);

DROP TABLE IF EXISTS Anfitriao CASCADE;
CREATE TABLE Anfitriao (
  user_id       SERIAL PRIMARY KEY,
  FOREIGN KEY (user_id) REFERENCES Usuario(id)
);


DROP TABLE IF EXISTS Conta CASCADE;
CREATE TABLE Conta (
  user_id       INTEGER PRIMARY KEY,
  num_conta     VARCHAR(20) NOT NULL,
  num_rot       VARCHAR(20) NOT NULL,
  tipo          VARCHAR(20) NOT NULL,
  FOREIGN KEY (user_id) REFERENCES Anfitriao(user_id)
);

DROP TABLE IF EXISTS Propriedade CASCADE;
CREATE TABLE Propriedade (
  id            SERIAL PRIMARY KEY,
  anfi_id       INTEGER       NOT NULL,
  nome          VARCHAR(100)  NOT NULL,
  tipo          VARCHAR(50)   NOT NULL,
  compartilhada BOOLEAN       NOT NULL,
  n_quartos     DECIMAL(4)    NOT NULL,
  n_banheiros   INTEGER       NOT NULL,
  pernoite      DECIMAL(10, 2)NOT NULL,
  taxa_limpeza  DECIMAL(10, 2)NOT NULL,
  max_hospedes  INTEGER       NOT NULL,
  n_min_noites  INTEGER       NOT NULL,
  n_max_noites  INTEGER       NOT NULL,
  cidade        VARCHAR(50)   NOT NULL,
  estado        VARCHAR(50)   NOT NULL,
  cep           VARCHAR(10)   NOT NULL,
  rua           VARCHAR(255)  NOT NULL,
  numero_casa   VARCHAR(10)   NOT NULL,
  complemento   VARCHAR(255),
  FOREIGN KEY (anfi_id) REFERENCES Anfitriao(user_id)
);

DROP TABLE IF EXISTS Quarto CASCADE;
CREATE TABLE Quarto (
  id        SERIAL PRIMARY KEY,
  prop_id   INTEGER           NOT NULL,
  n_camas   DECIMAL(2)        NOT NULL,
  FOREIGN KEY (prop_id) REFERENCES Propriedade(id)
);

DROP TABLE IF EXISTS Cama CASCADE;
CREATE TABLE Cama (
  id        SERIAL PRIMARY KEY,
  quarto_id INTEGER,
  tipo      VARCHAR(20)       NOT NULL,
  FOREIGN KEY (quarto_id) REFERENCES Quarto(id)
);

DROP TABLE IF EXISTS Regra CASCADE;
CREATE TABLE Regra (
  id        SERIAL PRIMARY KEY,
  prop_id   INTEGER,
  descricao TEXT              NOT NULL,
  FOREIGN KEY (prop_id) REFERENCES Propriedade(id)
);

DROP TABLE IF EXISTS Comodidade CASCADE;
CREATE TABLE Comodidade (
  id        SERIAL PRIMARY KEY,
  prop_id   INTEGER,
  descricao VARCHAR           NOT NULL,
  FOREIGN KEY (prop_id) REFERENCES Propriedade(id)
);

DROP TABLE IF EXISTS Avaliacao CASCADE;
CREATE TABLE Avaliacao (
  id SERIAL PRIMARY KEY,
  prop_id INTEGER             NOT NULL,
  loc_id INTEGER              NOT NULL,
  mensagem VARCHAR(255),
  nota_limpeza DECIMAL(1)     NOT NULL,
  nota_comunicacao DECIMAL(1) NOT NULL,
  nota_localizacao DECIMAL(1) NOT NULL,
  nota_valor DECIMAL(1)       NOT NULL,
  FOREIGN KEY (prop_id) REFERENCES Propriedade(id),
  FOREIGN KEY (loc_id) REFERENCES Locatario(user_id)
);

DROP TABLE IF EXISTS Foto CASCADE;
CREATE TABLE Foto (
  id SERIAL PRIMARY KEY,
  avaliacao_id INTEGER,
  path VARCHAR(255) NOT NULL,
  FOREIGN KEY (avaliacao_id) REFERENCES Avaliacao(id)
);

DROP TABLE IF EXISTS Reserva CASCADE;
CREATE TABLE Reserva (
  id SERIAL PRIMARY KEY,
  prop_id INTEGER,
  loc_id INTEGER,
  status_reserva BOOLEAN DEFAULT FALSE,
  status_pagamento BOOLEAN DEFAULT FALSE,
  data_reserva DATE NOT NULL,
  data_check_in DATE NOT NULL,
  data_check_out DATE   NOT NULL,
  hr_check_in TIME  NOT NULL,
  hr_check_out TIME NOT NULL,
  n_hospedes INTEGER          NOT NULL,
  imposto DECIMAL(10, 2)      NOT NULL,
  preco_total DECIMAL(10, 2)  NOT NULL,
  cod_promo VARCHAR(20),
  valor_desconto DECIMAL(10, 2),
  FOREIGN KEY (loc_id) REFERENCES Locatario(user_id),
  FOREIGN KEY (prop_id) REFERENCES Propriedade(id)
);
DROP TABLE IF EXISTS Mensagem CASCADE;
CREATE TABLE Mensagem (
  id SERIAL PRIMARY KEY,
  id_user_envi INTEGER,
  id_user_rece INTEGER,
  conteudo TEXT NOT NULL,
  timestamp TIMESTAMP NOT NULL,
  FOREIGN KEY (id_user_envi) REFERENCES Usuario(id),
  FOREIGN KEY (id_user_rece) REFERENCES Usuario(id)
);

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Inserção dos dados nas tabelas

In [ ]:
%%sql
-- Inserir usuários
INSERT INTO Usuario (nome, sobrenome, nascimento, rua, cidade, estado, numero_casa, cep, sexo, telefone, email, senha) VALUES
('João', 'Silva', '1990-01-01', 'Rua A', 'Touros', 'RN', '1001', '59054-020', 'M', '123456789', 'joao@example.com', 'senha123'),
('Maria', 'Santos', '1985-05-10', 'Rua B', 'Natal', 'RN', '1002', '59054-020', 'F', '987654321', 'maria@example.com', 'senha456'),
('Carlos', 'Oliveira', '1982-12-15', 'Rua C', 'Parnamirim', 'RN', '1003', '59054-020', 'M', '111222333', 'carlos@example.com', 'senha789'),
('Ana', 'Costa', '1995-03-20', 'Rua D', 'Rio do Fogo', 'RN', '1004', '59054-020', 'F', '444555666', 'ana@example.com', 'senha101'),
('Pedro', 'Ferreira', '1978-08-25', 'Rua E', 'Canguaretama', 'RN', '1005', '59054-020', 'M', '777888999', 'pedro@example.com', 'senha202'),
('Juliana', 'Almeida', '1989-06-30', 'Rua F', 'Bahia Formosa', 'RN', '100', '59054-020', 'F', '121314151', 'juliana@example.com', 'senha303'),
('Marcos', 'Martins', '1983-09-05', 'Rua G', 'Pipa', 'RN', '1006', '59054-020', 'M', '161718192', 'marcos@example.com', 'senha404'),
('Fernanda', 'Ribeiro', '1992-11-12', 'Rua H', 'Galinhos', 'RN', '1040', '59054-020', 'F', '212223242', 'fernanda@example.com', 'senha505'),
('Luiz', 'Pereira', '1980-02-18', 'Rua I', 'Natal', 'RN', '1007', '59054-020', 'M', '252627282', 'luiz@example.com', 'senha606'),
('Carla', 'Gomes', '1975-07-27', 'Rua J', 'Touros', 'RN', '1090', '59054-020', 'F', '293031323', 'carla@example.com', 'senha707'),
('Gustavo', 'Lima', '1993-04-15', 'Rua K', 'Parnamirim', 'RN', '1032', '59054-020', 'M', '333435363', 'gustavo@example.com', 'senha808'),
('Camila', 'Rodrigues', '1987-10-22', 'Rua L', 'Rio do Fogo', 'RN', '10', '59054-020', 'F', '373839404', 'camila@example.com', 'senha909'),
('José', 'Souza', '1981-12-08', 'Rua M', 'Bahia Formosa', 'RN', '14', '59054-020', 'M', '414243444', 'jose@example.com', 'senha1010'),
('Aline', 'Nunes', '1996-07-17', 'Rua N', 'Pipa', 'RN', '13', '59054-020', 'F', '454647484', 'aline@example.com', 'senha1111'),
('Rafael', 'Lopes', '1984-02-25', 'Rua O', 'Galinhos', 'RN', '12', '59054-020', 'M', '495051525', 'rafael@example.com', 'senha1212'),
('Mariana', 'Mendes', '1988-09-13', 'Rua P', 'Natal', 'RN', '11', '59054-020', 'F', '535455565', 'mariana@example.com', 'senha1313'),
('Roberto', 'Sousa', '1979-03-03', 'Rua Q', 'Canguaretama', 'RN', '101', '59054-020', 'M', '575859606', 'roberto@example.com', 'senha1414'),
('Patrícia', 'Carvalho', '1994-05-08', 'Rua R', 'Bahia Formosa', 'RN', '9', '59054-020', 'F', '616263646', 'patricia@example.com', 'senha1515'),
('Bruno', 'Oliveira', '1986-11-20', 'Rua S', 'Pipa', 'RN', '90', '59054-020', 'M', '656667686', 'bruno@example.com', 'senha1616'),
('Amanda', 'Dias', '1980-06-19', 'Rua T', 'Galinhos', 'RN', '80', '59054-020', 'F', '697071727', 'amanda@example.com', 'senha1717'),
('Rodrigo', 'Santana', '1991-08-11', 'Rua U', 'Natal', 'RN', '73', '59054-020', 'M', '737475767', 'rodrigo@example.com', 'senha1818'),
('Laura', 'Cruz', '1977-12-30', 'Rua V', 'Rio do Fogo', 'RN', '64', '59054-020', 'F', '777879808', 'laura@example.com', 'senha1919'),
('Diego', 'Barbosa', '1997-02-04', 'Rua W', 'Canguaretama', 'RN', '57', '59054-020', 'M', '818283848', 'diego@example.com', 'senha2020'),
('Patricia', 'Alves', '1982-10-03', 'Rua X', 'Bahia Formosa', 'RN', '37', '59054-020', 'F', '848586868', 'patricia2@example.com', 'senha2121');


-- Inserir anfitriões
INSERT INTO Anfitriao (user_id) VALUES
(2),
(4),
(6),
(8),
(10),
(12),
(14),
(16),
(18),
(20),
(22),
(24);

-- Inserir locatários
INSERT INTO Locatario (user_id) VALUES
(1),
(3),
(4),
(5),
(7),
(9),
(11),
(12),
(13),
(15),
(17),
(18),
(19),
(21),
(23),
(24);

-- Inserir contas de anfitrião
INSERT INTO Conta (user_id, num_conta, num_rot, tipo) VALUES
(2, '123456789', '987654', 'Corrente'),
(4, '987654321', '123456', 'Poupança'),
(6, '111222333', '654321', 'Corrente'),
(8, '444555666', '321654', 'Poupança'),
(10, '777888999', '456123', 'Corrente'),
(12, '121314151', '789456', 'Poupança'),
(14, '161718192', '456789', 'Corrente'),
(16, '212223242', '987654', 'Poupança'),
(18, '252627282', '654987', 'Corrente'),
(20, '293031323', '123789', 'Poupança'),
(22, '333435363', '789123', 'Corrente'),
(24, '373839404', '456987', 'Poupança');

-- Inserir propriedades dos anfitriões
INSERT INTO Propriedade (anfi_id, nome, tipo, compartilhada, n_quartos, n_banheiros, pernoite, taxa_limpeza, max_hospedes, n_min_noites, n_max_noites, cidade, estado, cep, rua, numero_casa, complemento) VALUES
(2, 'Casa na Praia de Touros', 'Casa', FALSE, 3, 2, 150.00, 50.00, 6, 1, 7, 'Touros', 'RN', '59584-000', 'Rua das Palmeiras', '100', 'Condomínio Beira Mar'),
(4, 'Apartamento Centro de Natal', 'Quarto', FALSE, 1, 1, 100.00, 40.00, 4, 1, 5, 'Natal', 'RN', '59025-020', 'Rua Major Afonso de Albuquerque', '300', 'Apto 501'),
(6, 'Casa de Praia em Parnamirim', 'Casa', FALSE, 4, 3, 200.00, 60.00, 8, 2, 10, 'Parnamirim', 'RN', '59140-000', 'Rua das Conchas', '50', 'Beira Mar'),
(8, 'Chalé em Rio do Fogo', 'Casa', FALSE, 1, 1, 80.00, 30.00, 2, 1, 4, 'Rio do Fogo', 'RN', '59578-000', 'Rua dos Coqueiros', '10', 'Pousada Sol e Mar'),
(10, 'Casa com Piscina em Canguaretama', 'Casa', TRUE, 3, 4, 250.00, 80.00, 10, 2, 14, 'Canguaretama', 'RN', '59190-000', 'Avenida Principal', '500', 'Condomínio Sol Nascente'),
(12, 'Apartamento com Vista em Bahia Formosa', 'Quarto', TRUE, 1, 2, 180.00, 60.00, 6, 1, 7, 'Bahia Formosa', 'RN', '59194-000', 'Rua das Ondas', '150', 'Edifício Vista Mar'),
(14, 'Casa de Praia em Pipa', 'Casa', FALSE, 4, 3, 220.00, 70.00, 8, 2, 10, 'Pipa', 'RN', '59178-000', 'Rua dos Golfinhos', '300', 'Condomínio Paraíso Tropical'),
(16, 'Casa de Veraneio em Galinhos', 'Casa', FALSE, 3, 2, 180.00, 60.00, 6, 2, 7, 'Galinhos', 'RN', '59596-000', 'Rua dos Ventos', '200', 'Bairro do Porto'),
(18, 'Apartamento Centro de Natal II', 'Quarto', TRUE, 1, 1, 110.00, 45.00, 4, 1, 5, 'Natal', 'RN', '59010-100', 'Rua João Pessoa', '400', 'Edifício Vila Nova'),
(20, 'Casa de Praia em Touros II', 'Casa', TRUE, 3, 2, 170.00, 55.00, 6, 1, 7, 'Touros', 'RN', '59584-000', 'Rua dos Coqueiros', '200', 'Condomínio Mar Azul'),
(22, 'Casa Colonial em Parnamirim', 'Casa', FALSE, 4, 3, 190.00, 65.00, 8, 2, 10, 'Parnamirim', 'RN', '59140-000', 'Rua das Flores', '100', 'Centro Histórico'),
(24, 'Chalé em Rio do Fogo II', 'Casa', FALSE, 1, 1, 90.00, 35.00, 2, 1, 4, 'Rio do Fogo', 'RN', '59578-000', 'Rua do Sol', '50', 'Pousada Lua Cheia'),
(4, 'Casa com Piscina em Canguaretama II', 'Casa', FALSE, 3, 4, 260.00, 90.00, 10, 2, 14, 'Canguaretama', 'RN', '59190-000', 'Rua da Praia', '600', 'Condomínio Maré Mansa'),
(16, 'Apartamento com Vista em Bahia Formosa II', 'Quarto', FALSE, 1, 2, 200.00, 70.00, 6, 1, 7, 'Bahia Formosa', 'RN', '59194-000', 'Avenida Principal', '250', 'Edifício Sol Poente'),
(16, 'Casa de Praia em Pipa II', 'Casa', FALSE, 4, 3, 230.00, 80.00, 8, 2, 10, 'Pipa', 'RN', '59178-000', 'Rua das Palmeiras', '400', 'Condomínio Maré Alta');

-- Inserir quartos
INSERT INTO Quarto (prop_id, n_camas) VALUES
(1, 1), -- Propriedade: Casa na Praia de Touros 1/3
(1, 2), -- Propriedade: Casa na Praia de Touros 2/3
(1, 2), -- Propriedade: Casa na Praia de Touros 3/3
(2, 1), -- Propriedade: Apartamento Centro de Natal 1/1
(3, 3), -- Propriedade: Casa de Praia em Parnamirim 1/4
(3, 3), -- Propriedade: Casa de Praia em Parnamirim 2/4
(3, 3), -- Propriedade: Casa de Praia em Parnamirim 3/4
(3, 1), -- Propriedade: Casa de Praia em Parnamirim 4/4
(4, 1), -- Propriedade: Chalé em Rio do Fogo 1/1
(5, 2), -- Propriedade: Casa com Piscina em Canguaretama 1/3
(5, 2), -- Propriedade: Casa com Piscina em Canguaretama 2/3
(5, 2), -- Propriedade: Casa com Piscina em Canguaretama 3/3
(6, 1), -- Propriedade: Apartamento com Vista em Bahia Formosa 1/1
(7, 1), -- Propriedade: Casa de Praia em Pipa 1/4
(7, 1), -- Propriedade: Casa de Praia em Pipa 2/4
(7, 2), -- Propriedade: Casa de Praia em Pipa 3/4
(7, 2), -- Propriedade: Casa de Praia em Pipa 4/4
(8, 3), -- Propriedade: Casa de Veraneio em Galinhos 1/3
(8, 3), -- Propriedade: Casa de Veraneio em Galinhos 2/3
(8, 3), -- Propriedade: Casa de Veraneio em Galinhos 3/3
(9, 1), -- Propriedade: Apartamento Centro de Natal II 1/1
(10, 2), -- Propriedade: Casa de Praia em Touros II 1/3
(10, 2), -- Propriedade: Casa de Praia em Touros II 2/3
(10, 2), -- Propriedade: Casa de Praia em Touros II 3/3
(11, 1), -- Propriedade: Casa Colonial em Parnamirim 1/4
(11, 1), -- Propriedade: Casa Colonial em Parnamirim 2/4
(11, 1), -- Propriedade: Casa Colonial em Parnamirim 3/4
(11, 2), -- Propriedade: Casa Colonial em Parnamirim 4/4
(12, 1), -- Propriedade: Chalé em Rio do Fogo II 1/1
(13, 2), -- Propriedade: Casa com Piscina em Canguaretama II 1/3
(13, 3), -- Propriedade: Casa com Piscina em Canguaretama II 2/3
(13, 2), -- Propriedade: Casa com Piscina em Canguaretama II 3/3
(14, 1), -- Propriedade: Apartamento com Vista em Bahia Formosa II 1/1
(15, 1), -- Propriedade: Casa de Praia em Pipa II 1/4
(15, 1), -- Propriedade: Casa de Praia em Pipa II 2/4
(15, 1), -- Propriedade: Casa de Praia em Pipa II 3/4
(15, 1); -- Propriedade: Casa de Praia em Pipa II 4/4

-- Inserir camas
INSERT INTO Cama (quarto_id, tipo) VALUES
(1, 'Casal'), -- Propriedade: Casa na Praia de Touros 1/3
(2, 'Solteiro'), -- Propriedade: Casa na Praia de Touros 2/3
(2, 'Solteiro'), -- Propriedade: Casa na Praia de Touros 2/3
(3, 'Solteiro'), -- Propriedade: Casa na Praia de Touros 3/3
(3, 'Solteiro'), -- Propriedade: Casa na Praia de Touros 3/3
(4, 'Casal'), -- Propriedade: Apartamento Centro de Natal 1/1
(5, 'Casal'), -- Propriedade: Casa de Praia em Parnamirim 1/4
(5, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 1/4
(5, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 1/4
(6, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 2/4
(6, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 2/4
(6, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 2/4
(7, 'Casal'), -- Propriedade: Casa de Praia em Parnamirim 3/4
(7, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 3/4
(7, 'Solteiro'), -- Propriedade: Casa de Praia em Parnamirim 3/4
(8, 'Casal'), -- Propriedade: Casa de Praia em Parnamirim 4/4
(9, 'Casal'), -- Propriedade: Chalé em Rio do Fogo 1/1
(10, 'Casal'), -- Propriedade: Casa com Piscina em Canguaretama 1/3
(10, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama 1/3
(11, 'Casal'), -- Propriedade: Casa com Piscina em Canguaretama 2/3
(11, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama 2/3
(12, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama 3/3
(12, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama 3/3
(13, 'Casal'), -- Propriedade: Apartamento com Vista em Bahia Formosa 1/1
(14, 'Casal'), -- Propriedade: Casa de Praia em Pipa 1/4
(15, 'Casal'), -- Propriedade: Casa de Praia em Pipa 2/4
(16, 'Solteiro'), -- Propriedade: Casa de Praia em Pipa 3/4
(16, 'Solteiro'), -- Propriedade: Casa de Praia em Pipa 3/4
(17, 'Solteiro'), -- Propriedade: Casa de Praia em Pipa 4/4
(17, 'Solteiro'), -- Propriedade: Casa de Praia em Pipa 4/4
(18, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 1/3
(18, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 1/3
(18, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 1/3
(19, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 2/3
(19, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 2/3
(19, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 2/3
(20, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 3/3
(20, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 3/3
(20, 'Solteiro'), -- Propriedade: Casa de Veraneio em Galinhos 3/3
(21, 'Casal'), -- Propriedade: Apartamento Centro de Natal II 1/1
(22, 'Casal'), -- Propriedade: Casa de Praia em Touros II 1/3
(22, 'Solteiro'), -- Propriedade: Casa de Praia em Touros II 1/3
(23, 'Casal'), -- Propriedade: Casa de Praia em Touros II 2/3
(23, 'Solteiro'), -- Propriedade: Casa de Praia em Touros II 2/3
(24, 'Casal'), -- Propriedade: Casa de Praia em Touros II 3/3
(24, 'Solteiro'), -- Propriedade: Casa de Praia em Touros II 3/3
(25, 'Casal'), -- Propriedade: Casa Colonial em Parnamirim 1/4
(26, 'Casal'), -- Propriedade: Casa Colonial em Parnamirim 2/4
(27, 'Casal'), -- Propriedade: Casa Colonial em Parnamirim 3/4
(28, 'Solteiro'), -- Propriedade: Casa Colonial em Parnamirim 4/4
(28, 'Solteiro'), -- Propriedade: Casa Colonial em Parnamirim 4/4
(29, 'Casal'), -- Propriedade: Chalé em Rio do Fogo II 1/1
(30, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 1/3
(30, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 1/3
(31, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 2/3
(31, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 2/3
(31, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 2/3
(32, 'Solteiro'), -- Propriedade: Casa com Piscina em Canguaretama II 3/3
(32, 'Casal'), -- Propriedade: Casa com Piscina em Canguaretama II 3/3
(33, 'Casal'), -- Propriedade: Apartamento com Vista em Bahia Formosa II 1/1
(34, 'Casal'), -- Propriedade: Casa de Praia em Pipa II 1/4
(35, 'Casal'), -- Propriedade: Casa de Praia em Pipa II 2/4
(36, 'Casal'), -- Propriedade: Casa de Praia em Pipa II 3/4
(37, 'Casal'); -- Propriedade: Casa de Praia em Pipa II 4/4


-- Inserir regras
INSERT INTO Regra (prop_id, descricao) VALUES
(1, 'Não é permitido fumar dentro da casa.'), -- Propriedade: Casa na Praia de Touros
(1, 'Check-in Flexível'), -- Propriedade: Casa na Praia de Touros
(1, 'Check-out Tardio (até 15h)'), -- Propriedade: Casa na Praia de Touros
(2, 'Proibido Fumar'), -- Apartamento Centro de Natal
(3, 'Não é permitido animais de estimação.'), -- Propriedade: Casa de Praia em Parnamirim
(5, 'Check-in a partir das 14h e check-out até às 12h.'), -- Propriedade: Casa com Piscina em Canguaretama
(7, 'Proibido festas e eventos.'), -- Propriedade: Casa de Praia em Pipa
(11, 'Silêncio após as 22h.'), -- Propriedade: Casa Colonial em Parnamirim
(13, 'Não é permitido fumar nas áreas comuns.'), -- Propriedade: Casa com Piscina em Canguaretama II
(15, 'Check-in a partir das 15h e check-out até às 11h.'), -- Propriedade: Casa de Praia em Pipa II
(15, 'Pet Friendly'); -- Propriedade: Casa de Praia em Pipa II

-- Inserir comodidades
INSERT INTO Comodidade (prop_id, descricao) VALUES
(1, 'Wi-Fi'), -- Propriedade: Casa na Praia de Touros
(3, 'Piscina'), -- Propriedade: Casa de Praia em Parnamirim
(5, 'Ar condicionado'), -- Propriedade: Casa com Piscina em Canguaretama
(7, 'Estacionamento gratuito'), -- Propriedade: Casa de Praia em Pipa
(11, 'TV a cabo'), -- Propriedade: Casa Colonial em Parnamirim
(13, 'Cozinha completa'), -- Propriedade: Casa com Piscina em Canguaretama II
(15, 'Jacuzzi'), -- Propriedade: Casa de Praia em Pipa II
(2, 'Ar condicionado'), -- Propriedade: Apartamento Centro de Natal
(4, 'Estacionamento privativo'), -- Propriedade: Chalé em Rio do Fogo
(6, 'Vista para o mar'), -- Propriedade: Apartamento com Vista em Bahia Formosa
(8, 'Churrasqueira'), -- Propriedade: Casa de Veraneio em Galinhos
(9, 'Wi-Fi'), -- Propriedade: Apartamento Centro de Natal II
(10, 'Piscina privativa'), -- Propriedade: Casa de Praia em Touros II
(12, 'Café da manhã incluso'), -- Propriedade: Chalé em Rio do Fogo II
(14, 'Academia'), -- Propriedade: Apartamento com Vista em Bahia Formosa II
(10, 'Área de lazer'), -- Propriedade: Casa de Praia em Touros II
(12, 'Café da manhã incluso'), -- Propriedade: Chalé em Rio do Fogo II
(14, 'Ar condicionado'), -- Propriedade: Apartamento com Vista em Bahia Formosa II
(15, 'Piscina aquecida'); -- Propriedade: Casa de Praia em Pipa II

-- Inserir avaliações
INSERT INTO Avaliacao (prop_id, loc_id, mensagem, nota_limpeza, nota_comunicacao, nota_localizacao, nota_valor) VALUES
(1, 3, NULL, 5, 5, 5, 5),
(2, 5, 'Apartamento confortável e bem localizado.', 4, 4, 4, 4),
(3, 7, 'Casa espaçosa e aconchegante, perfeita para famílias.', 5, 5, 4, 5),
(4, 9, 'Chalé simples, porém agradável. Boa opção para quem busca tranquilidade.', 4, 4, 3, 4),
(5, 11, 'Casa ampla com piscina, ideal para grupos grandes.', 5, 5, 5, 4),
(6, 13, NULL, 5, 5, 5, 5),
(7, 15, 'Casa aconchegante e bem localizada, próximo à praia.', 4, 4, 5, 4),
(8, 17, 'Casa com uma vista deslumbrante para o mar.', 5, 5, 5, 5),
(9, 19, 'Ótimo apartamento no centro de Natal, próximo a tudo.', 4, 5, 4, 4),
(10, 21, 'Casa de praia simples, mas com todo o necessário para uma boa estadia.', 4, 4, 4, 4);

-- Inserir fotos
INSERT INTO Foto (avaliacao_id, path) VALUES
(1, 'caminho/da/foto1.jpg'),
(1, 'caminho/da/foto2.jpg'),
(2, 'caminho/da/foto3.jpg'),
(2, 'caminho/da/foto4.jpg'),
(3, 'caminho/da/foto5.jpg'),
(3, 'caminho/da/foto6.jpg'),
(4, 'caminho/da/foto7.jpg'),
(4, 'caminho/da/foto8.jpg'),
(5, 'caminho/da/foto9.jpg'),
(5, 'caminho/da/foto10.jpg'),
(6, 'caminho/da/foto11.jpg'),
(6, 'caminho/da/foto12.jpg'),
(7, 'caminho/da/foto13.jpg'),
(7, 'caminho/da/foto14.jpg'),
(8, 'caminho/da/foto15.jpg'),
(8, 'caminho/da/foto16.jpg'),
(9, 'caminho/da/foto17.jpg'),
(9, 'caminho/da/foto18.jpg'),
(10, 'caminho/da/foto19.jpg'),
(10, 'caminho/da/foto20.jpg');

-- Inserir reservas
INSERT INTO Reserva (prop_id, loc_id, data_reserva, data_check_in, data_check_out, hr_check_in, hr_check_out, n_hospedes, imposto, preco_total, cod_promo, valor_desconto, status_reserva, status_pagamento) VALUES
(2, 1, CURRENT_DATE, '2024-06-01', '2024-06-10', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, FALSE, FALSE), -- Casa na Praia de Touros
(2, 3, CURRENT_DATE, '2024-06-15', '2024-06-25', '14:00:00', '12:00:00', 1, 5.00, 115.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia de Touros
(4, 4, CURRENT_DATE, '2024-07-01', '2024-07-10', '14:00:00', '12:00:00', 3, 15.00, 750.00, NULL, 0.00, FALSE, FALSE), -- Apartamento Centro de Natal
(4, 5, CURRENT_DATE, '2024-07-15', '2024-07-25', '14:00:00', '12:00:00', 1, 5.00, 115.00, NULL, 0.00, FALSE, FALSE), -- Apartamento Centro de Natal
(6, 7, CURRENT_DATE, '2024-08-01', '2024-08-10', '14:00:00', '12:00:00', 2, 10.00, 400.00, 'PROMO', 20.00, TRUE, TRUE), -- Casa de Praia em Parnamirim
(6, 9, CURRENT_DATE, '2024-08-15', '2024-08-25', '14:00:00', '12:00:00', 4, 20.00, 980.00, NULL, 0.00, FALSE, FALSE), -- Casa de Praia em Parnamirim
(8, 11, CURRENT_DATE, '2024-06-01', '2024-06-10', '14:00:00', '12:00:00', 2, 10.00, 420.00, NULL, 0.00, FALSE, FALSE), -- Chalé em Rio do Fogo
(8, 12, CURRENT_DATE, '2024-06-15', '2024-06-25', '14:00:00', '12:00:00', 1, 5.00, 200.00, 'FERIAS', 100.00, TRUE, TRUE), -- Chalé em Rio do Fogo
(10, 13, CURRENT_DATE, '2024-07-01', '2024-07-10', '14:00:00', '12:00:00', 3, 15.00, 780.00, NULL, 0.00, FALSE, FALSE), -- Casa com Piscina em Canguaretama
(10, 15, CURRENT_DATE, '2024-07-15', '2024-07-25', '14:00:00', '12:00:00', 2, 10.00, 430.00, NULL, 0.00, TRUE, TRUE), -- Casa com Piscina em Canguaretama
(12, 17, CURRENT_DATE, '2024-08-01', '2024-08-10', '14:00:00', '12:00:00', 4, 20.00, 1000.00, NULL, 0.00, FALSE, FALSE), -- Apartamento com Vista em Bahia Formosa
(2, 3, CURRENT_DATE, '2024-09-01', '2024-09-10', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia de Touros
(2, 5, CURRENT_DATE, '2024-09-15', '2024-09-25', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia de Touros
(2, 7, CURRENT_DATE, '2024-10-01', '2024-10-10', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia de Touros
(2, 9, CURRENT_DATE, '2024-10-15', '2024-10-25', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia de Touros
(15, 3, CURRENT_DATE, '2024-10-1', '2024-10-10', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia em Pipa
(15, 5, CURRENT_DATE, '2024-10-15', '2024-10-25', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia em Pipa
(15, 7, CURRENT_DATE, '2024-11-1', '2024-11-10', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE), -- Casa na Praia em Pipa
(15, 9, CURRENT_DATE, '2024-11-15', '2024-11-25', '14:00:00', '12:00:00', 2, 10.00, 320.00, NULL, 0.00, TRUE, TRUE); -- Casa na Praia em Pipa

-- Inserir mensagens
INSERT INTO Mensagem (id_user_envi, id_user_rece, conteudo, timestamp) VALUES
-- Conversa 1
(1, 2, 'Olá, estou interessado na sua propriedade em Touros.', CURRENT_TIMESTAMP),
(2, 1, 'Olá, fico feliz que esteja interessado. Posso te fornecer mais informações.', CURRENT_TIMESTAMP),
(1, 2, 'Qual é o valor da diária?', CURRENT_TIMESTAMP),
(2, 1, 'A diária é R$150,00.', CURRENT_TIMESTAMP),
(1, 2, 'Ótimo! Como faço para reservar?', CURRENT_TIMESTAMP),
(2, 1, 'Você pode fazer a reserva diretamente pelo site ou aplicativo.', CURRENT_TIMESTAMP),
-- Conversa 2
(3, 4, 'Olá, estou procurando um lugar para passar o fim de semana em Natal.', CURRENT_TIMESTAMP),
(4, 3, 'Eu tenho um apartamento disponível. Posso te enviar mais detalhes?', CURRENT_TIMESTAMP),
(3, 4, 'Sim, por favor.', CURRENT_TIMESTAMP),
(4, 3, 'O apartamento tem vista para o mar e está localizado no centro da cidade.', CURRENT_TIMESTAMP),
(3, 4, 'Perfeito! Qual é o preço da diária?', CURRENT_TIMESTAMP),
(4, 3, 'A diária é R$100,00.', CURRENT_TIMESTAMP),
-- Conversa 3
(5, 6, 'Olá, gostaria de alugar sua casa em Parnamirim para um evento.', CURRENT_TIMESTAMP),
(6, 5, 'Claro, podemos discutir os detalhes.', CURRENT_TIMESTAMP),
(5, 6, 'Quantas pessoas a casa acomoda?', CURRENT_TIMESTAMP),
(6, 5, 'A casa tem 4 quartos e pode acomodar até 8 pessoas confortavelmente.', CURRENT_TIMESTAMP),
(5, 6, 'Isso é ótimo! E qual é a taxa de limpeza?', CURRENT_TIMESTAMP),
(6, 5, 'A taxa de limpeza é R$60,00.', CURRENT_TIMESTAMP),
-- Conversa 4
(7, 8, 'Olá, estou interessado em alugar seu chalé em Rio do Fogo.', CURRENT_TIMESTAMP),
(8, 7, 'Olá, que bom que se interessou. Posso te ajudar com alguma coisa?', CURRENT_TIMESTAMP),
(7, 8, 'Gostaria de saber se é permitido levar animais de estimação.', CURRENT_TIMESTAMP),
(8, 7, 'Sim, permitimos animais de estimação, mas há uma taxa adicional.', CURRENT_TIMESTAMP),
(7, 8, 'Entendi. Obrigado pelas informações.', CURRENT_TIMESTAMP),
(8, 7, 'Por nada, estou à disposição para qualquer dúvida.', CURRENT_TIMESTAMP),
-- Conversa 5
(9, 10, 'Olá, estou pensando em passar alguns dias em Canguaretama.', CURRENT_TIMESTAMP),
(10, 9, 'Eu tenho uma casa disponível para aluguel.', CURRENT_TIMESTAMP),
(9, 10, 'Quantas pessoas a casa acomoda?', CURRENT_TIMESTAMP),
(10, 9, 'A casa tem 3 quartos e pode acomodar até 10 pessoas.', CURRENT_TIMESTAMP),
(9, 10, 'Isso é perfeito! Qual é o preço da diária?', CURRENT_TIMESTAMP),
(10, 9, 'A diária é R$250,00.', CURRENT_TIMESTAMP),
-- Conversa 6
(11, 12, 'Olá, estou interessado no seu apartamento em Bahia Formosa.', CURRENT_TIMESTAMP),
(12, 11, 'Que bom que se interessou. Posso te fornecer mais detalhes?', CURRENT_TIMESTAMP),
(11, 12, 'Gostaria de saber se tem estacionamento disponível.', CURRENT_TIMESTAMP),
(12, 11, 'Sim, temos estacionamento disponível para os hóspedes.', CURRENT_TIMESTAMP),
(11, 12, 'Perfeito! Vou fazer a reserva.', CURRENT_TIMESTAMP),
(12, 11, 'Ótimo! Fico no aguardo da sua reserva.', CURRENT_TIMESTAMP),
-- Conversa 7
(13, 14, 'Olá, estou procurando uma casa em Pipa para um grupo de amigos.', CURRENT_TIMESTAMP),
(14, 13, 'Eu tenho uma casa disponível que pode ser do seu interesse.', CURRENT_TIMESTAMP),
(13, 14, 'Quantas pessoas a casa acomoda?', CURRENT_TIMESTAMP),
(14, 13, 'A casa tem 4 quartos e pode acomodar até 8 pessoas.', CURRENT_TIMESTAMP),
(13, 14, 'Isso é ótimo! Qual é o preço da diária?', CURRENT_TIMESTAMP),
(14, 13, 'A diária é R$220,00.', CURRENT_TIMESTAMP),
-- Conversa 8
(15, 16, 'Olá, estou pensando em passar alguns dias em Galinhos.', CURRENT_TIMESTAMP),
(16, 15, 'Eu tenho uma casa disponível para aluguel.', CURRENT_TIMESTAMP),
(15, 16, 'Quantas pessoas a casa acomoda?', CURRENT_TIMESTAMP),
(16, 15, 'A casa tem 3 quartos e pode acomodar até 6 pessoas.', CURRENT_TIMESTAMP),
(15, 16, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(16, 15, 'A diária é R$180,00.', CURRENT_TIMESTAMP),
-- Conversa 9
(17, 18, 'Olá, estou interessado no seu apartamento em Natal.', CURRENT_TIMESTAMP),
(18, 17, 'Que bom que se interessou. Posso te ajudar com alguma coisa?', CURRENT_TIMESTAMP),
(17, 18, 'Gostaria de saber se tem ar-condicionado no apartamento.', CURRENT_TIMESTAMP),
(18, 17, 'Sim, temos ar-condicionado em todos os quartos.', CURRENT_TIMESTAMP),
(17, 18, 'Perfeito! Vou fazer a reserva.', CURRENT_TIMESTAMP),
(18, 17, 'Ótimo! Aguardo a sua reserva.', CURRENT_TIMESTAMP),
-- Conversa 10
(19, 20, 'Olá, estou procurando uma casa em Touros para o próximo fim de semana.', CURRENT_TIMESTAMP),
(20, 19, 'Eu tenho uma casa disponível para aluguel.', CURRENT_TIMESTAMP),
(19, 20, 'Quantas pessoas a casa acomoda?', CURRENT_TIMESTAMP),
(20, 19, 'A casa tem 3 quartos e pode acomodar até 6 pessoas.', CURRENT_TIMESTAMP),
(19, 20, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(20, 19, 'A diária é R$170,00.', CURRENT_TIMESTAMP),
-- Conversa 11
(21, 22, 'Olá, estou interessado em alugar sua casa colonial em Parnamirim.', CURRENT_TIMESTAMP),
(22, 21, 'Que bom que se interessou. Posso te fornecer mais informações?', CURRENT_TIMESTAMP),
(21, 22, 'Gostaria de saber se tem piscina na propriedade.', CURRENT_TIMESTAMP),
(22, 21, 'Sim, temos uma piscina disponível para os hóspedes.', CURRENT_TIMESTAMP),
(21, 22, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(22, 21, 'A diária é R$190,00.', CURRENT_TIMESTAMP),
-- Conversa 12
(23, 24, 'Olá, estou pensando em passar alguns dias em Rio do Fogo.', CURRENT_TIMESTAMP),
(24, 23, 'Eu tenho um chalé disponível para aluguel.', CURRENT_TIMESTAMP),
(23, 24, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(24, 23, 'A diária é R$90,00.', CURRENT_TIMESTAMP),
-- Conversa 13
(1, 4, 'Olá, estou interessado em alugar seu chalé em Rio do Fogo.', CURRENT_TIMESTAMP),
(4, 1, 'Que bom que se interessou. Posso te fornecer mais detalhes?', CURRENT_TIMESTAMP),
(1, 4, 'Gostaria de saber se aceitam cartão de crédito.', CURRENT_TIMESTAMP),
(4, 1, 'Sim, aceitamos cartão de crédito.', CURRENT_TIMESTAMP),
-- Conversa 14
(5, 10, 'Olá, estou interessado na sua casa com piscina em Canguaretama.', CURRENT_TIMESTAMP),
(10, 5, 'Fico feliz que esteja interessado. Posso te fornecer mais informações.', CURRENT_TIMESTAMP),
(5, 10, 'Gostaria de saber se tem TV a cabo na propriedade.', CURRENT_TIMESTAMP),
(10, 5, 'Sim, temos TV a cabo disponível para os hóspedes.', CURRENT_TIMESTAMP),
-- Conversa 15
(6, 13, 'Olá, estou procurando um lugar para passar o fim de semana em Bahia Formosa.', CURRENT_TIMESTAMP),
(13, 6, 'Eu tenho um apartamento disponível para aluguel.', CURRENT_TIMESTAMP),
(6, 13, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(13, 6, 'A diária é R$180,00.', CURRENT_TIMESTAMP),
-- Conversa 16
(8, 15, 'Olá, estou pensando em passar alguns dias em Pipa.', CURRENT_TIMESTAMP),
(15, 8, 'Eu tenho uma casa disponível para aluguel.', CURRENT_TIMESTAMP),
(8, 15, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(15, 8, 'A diária é R$220,00.', CURRENT_TIMESTAMP),
-- Conversa 17
(11, 18, 'Olá, estou procurando um lugar para passar o fim de semana em Natal.', CURRENT_TIMESTAMP),
(18, 11, 'Eu tenho um apartamento disponível para aluguel.', CURRENT_TIMESTAMP),
(11, 18, 'Gostaria de saber se tem estacionamento disponível.', CURRENT_TIMESTAMP),
(18, 11, 'Sim, temos estacionamento disponível para os hóspedes.', CURRENT_TIMESTAMP),
-- Conversa 18
(12, 19, 'Olá, estou pensando em passar alguns dias em Pipa.', CURRENT_TIMESTAMP),
(19, 12, 'Eu tenho uma casa disponível para aluguel.', CURRENT_TIMESTAMP),
(12, 19, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(19, 12, 'A diária é R$230,00.', CURRENT_TIMESTAMP),
-- Conversa 19
(14, 21, 'Olá, estou interessado na sua casa de praia em Touros.', CURRENT_TIMESTAMP),
(21, 14, 'Que bom que se interessou. Posso te fornecer mais informações?', CURRENT_TIMESTAMP),
(14, 21, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(21, 14, 'A diária é R$170,00.', CURRENT_TIMESTAMP),
-- Conversa 20
(16, 23, 'Olá, estou interessado em alugar seu chalé em Rio do Fogo.', CURRENT_TIMESTAMP),
(23, 16, 'Que bom que se interessou. Posso te fornecer mais detalhes?', CURRENT_TIMESTAMP),
(16, 23, 'Qual é o preço da diária?', CURRENT_TIMESTAMP),
(23, 16, 'A diária é R$90,00.', CURRENT_TIMESTAMP);

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
24 rows affected.
12 rows affected.
16 rows affected.
12 rows affected.
15 rows affected.
37 rows affected.
64 rows affected.
11 rows affected.
19 rows affected.
10 rows affected.
20 rows affected.
19 rows affected.
102 rows affected.

[]

# Fazendo as consultas

## Exercício 5
Exercício 5: Mostre o conteúdo da relação que implementa o conceito de Propriedades do sistema:

### 5.1
• Mostre a relação inteira;

In [ ]:
%%sql
SELECT * FROM Propriedade;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[(1, 2, 'Casa na Praia de Touros', 'Casa', False, Decimal('3'), 2, Decimal('150.00'), Decimal('50.00'), 6, 1, 7, 'Touros', 'RN', '59584-000', 'Rua das Palmeiras', '100', 'Condomínio Beira Mar'),
 (2, 4, 'Apartamento Centro de Natal', 'Quarto', False, Decimal('1'), 1, Decimal('100.00'), Decimal('40.00'), 4, 1, 5, 'Natal', 'RN', '59025-020', 'Rua Major Afonso de Albuquerque', '300', 'Apto 501'),
 (3, 6, 'Casa de Praia em Parnamirim', 'Casa', False, Decimal('4'), 3, Decimal('200.00'), Decimal('60.00'), 8, 2, 10, 'Parnamirim', 'RN', '59140-000', 'Rua das Conchas', '50', 'Beira Mar'),
 (4, 8, 'Chalé em Rio do Fogo', 'Casa', False, Decimal('1'), 1, Decimal('80.00'), Decimal('30.00'), 2, 1, 4, 'Rio do Fogo', 'RN', '59578-000', 'Rua dos Coqueiros', '10', 'Pousada Sol e Mar'),
 (5, 10, 'Casa com Piscina em Canguaretama', 'Casa', True, Decimal('3'), 4, Decimal('250.00'), Decimal('80.00'), 10, 2, 14, 'Canguaretama', 'RN', '59190-000', 'Avenida Principal', '500', 'Condomínio Sol Nascente'),
 (6, 12, 'Apartamento com Vista em Bahia Formosa', 'Quarto', True, Decimal('1'), 2, Decimal('180.00'), Decimal('60.00'), 6, 1, 7, 'Bahia Formosa', 'RN', '59194-000', 'Rua das Ondas', '150', 'Edifício Vista Mar'),
 (7, 14, 'Casa de Praia em Pipa', 'Casa', False, Decimal('4'), 3, Decimal('220.00'), Decimal('70.00'), 8, 2, 10, 'Pipa', 'RN', '59178-000', 'Rua dos Golfinhos', '300', 'Condomínio Paraíso Tropical'),
 (8, 16, 'Casa de Veraneio em Galinhos', 'Casa', False, Decimal('3'), 2, Decimal('180.00'), Decimal('60.00'), 6, 2, 7, 'Galinhos', 'RN', '59596-000', 'Rua dos Ventos', '200', 'Bairro do Porto'),
 (9, 18, 'Apartamento Centro de Natal II', 'Quarto', True, Decimal('1'), 1, Decimal('110.00'), Decimal('45.00'), 4, 1, 5, 'Natal', 'RN', '59010-100', 'Rua João Pessoa', '400', 'Edifício Vila Nova'),
 (10, 20, 'Casa de Praia em Touros II', 'Casa', True, Decimal('3'), 2, Decimal('170.00'), Decimal('55.00'), 6, 1, 7, 'Touros', 'RN', '59584-000', 'Rua dos Coqueiros', '200', 'Condomínio Mar Azul'),
 (11, 22, 'Casa Colonial em Parnamirim', 'Casa', False, Decimal('4'), 3, Decimal('190.00'), Decimal('65.00'), 8, 2, 10, 'Parnamirim', 'RN', '59140-000', 'Rua das Flores', '100', 'Centro Histórico'),
 (12, 24, 'Chalé em Rio do Fogo II', 'Casa', False, Decimal('1'), 1, Decimal('90.00'), Decimal('35.00'), 2, 1, 4, 'Rio do Fogo', 'RN', '59578-000', 'Rua do Sol', '50', 'Pousada Lua Cheia'),
 (13, 4, 'Casa com Piscina em Canguaretama II', 'Casa', False, Decimal('3'), 4, Decimal('260.00'), Decimal('90.00'), 10, 2, 14, 'Canguaretama', 'RN', '59190-000', 'Rua da Praia', '600', 'Condomínio Maré Mansa'),
 (14, 16, 'Apartamento com Vista em Bahia Formosa II', 'Quarto', False, Decimal('1'), 2, Decimal('200.00'), Decimal('70.00'), 6, 1, 7, 'Bahia Formosa', 'RN', '59194-000', 'Avenida Principal', '250', 'Edifício Sol Poente'),
 (15, 16, 'Casa de Praia em Pipa II', 'Casa', False, Decimal('4'), 3, Decimal('230.00'), Decimal('80.00'), 8, 2, 10, 'Pipa', 'RN', '59178-000', 'Rua das Palmeiras', '400', 'Condomínio Maré Alta')]

### 5.2
• Mostre quantas Propriedades existem de cada classe (casa inteira, etc.);

In [ ]:
%%sql
SELECT
    Propriedade.tipo,
    COUNT(*)
FROM
    Propriedade
GROUP BY
    Propriedade.tipo;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Casa', 11), ('Quarto', 4)]

### 5.3
• Mostre quantas Propriedades existem de cada Cidade.

In [ ]:
%%sql
SELECT
    Propriedade.cidade,
    COUNT(*)
FROM
    Propriedade
GROUP BY
    Propriedade.cidade;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[('Parnamirim', 2),
 ('Rio do Fogo', 2),
 ('Canguaretama', 2),
 ('Galinhos', 1),
 ('Touros', 2),
 ('Pipa', 2),
 ('Bahia Formosa', 2),
 ('Natal', 2)]

## Exercício 6
Mostre as locações que foram confirmadas com check-in a partir de 2024-04-01, indicando para cada uma:

### 6.1
• Todos os atributos-chave das relações envolvidas

In [ ]:
%%sql
SELECT
    *
FROM
    Reserva
WHERE
    Reserva.status_reserva = TRUE
AND
    Reserva.data_check_in >= '2024-04-01';

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[(2, 2, 3, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 6, 15), datetime.date(2024, 6, 25), datetime.time(14, 0), datetime.time(12, 0), 1, Decimal('5.00'), Decimal('115.00'), None, Decimal('0.00')),
 (5, 6, 7, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 8, 1), datetime.date(2024, 8, 10), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('400.00'), 'PROMO', Decimal('20.00')),
 (8, 8, 12, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 6, 15), datetime.date(2024, 6, 25), datetime.time(14, 0), datetime.time(12, 0), 1, Decimal('5.00'), Decimal('200.00'), 'FERIAS', Decimal('100.00')),
 (10, 10, 15, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 7, 15), datetime.date(2024, 7, 25), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('430.00'), None, Decimal('0.00')),
 (12, 2, 3, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 9, 1), datetime.date(2024, 9, 10), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (13, 2, 5, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 9, 15), datetime.date(2024, 9, 25), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (14, 2, 7, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 10, 1), datetime.date(2024, 10, 10), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (15, 2, 9, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 10, 15), datetime.date(2024, 10, 25), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (16, 15, 3, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 10, 1), datetime.date(2024, 10, 10), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (17, 15, 5, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 10, 15), datetime.date(2024, 10, 25), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (18, 15, 7, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 11, 1), datetime.date(2024, 11, 10), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00')),
 (19, 15, 9, True, True, datetime.date(2024, 5, 14), datetime.date(2024, 11, 15), datetime.date(2024, 11, 25), datetime.time(14, 0), datetime.time(12, 0), 2, Decimal('10.00'), Decimal('320.00'), None, Decimal('0.00'))]

### 6.2
• O total de dias locados

In [ ]:
%%sql
SELECT
    Reserva.id,
    (Reserva.data_check_out - Reserva.data_check_in) AS dias_locados
FROM
    Reserva
WHERE
    Reserva.status_reserva = TRUE
AND
    Reserva.data_check_in >= '2024-04-01';

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[(2, 10),
 (5, 9),
 (8, 10),
 (10, 10),
 (12, 9),
 (13, 10),
 (14, 9),
 (15, 10),
 (16, 9),
 (17, 10),
 (18, 9),
 (19, 10)]

### 6.3
• O Nome do anfitrião e o do locatário

In [ ]:
%%sql
SELECT
    Reserva.id,
    CONCAT(anfi.nome, ' ', anfi.sobrenome) AS nome_afitriao,
    CONCAT(loca.nome, ' ', loca.sobrenome) AS nome_locatario
FROM
    Reserva
INNER JOIN
    Propriedade ON Reserva.prop_id = Propriedade.id
INNER JOIN
    Anfitriao ON Propriedade.anfi_id = Anfitriao.user_id
INNER JOIN
    Usuario anfi ON Anfitriao.user_id = anfi.id
INNER JOIN
    Locatario ON Reserva.loc_id = Locatario.user_id
INNER JOIN
    Usuario loca ON Locatario.user_id = loca.id
WHERE
    Reserva.status_reserva = TRUE
AND
    Reserva.data_check_in >= '2024-04-01';

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[(2, 'Ana Costa', 'Carlos Oliveira'),
 (5, 'Camila Rodrigues', 'Marcos Martins'),
 (8, 'Mariana Mendes', 'Camila Rodrigues'),
 (10, 'Amanda Dias', 'Rafael Lopes'),
 (12, 'Ana Costa', 'Carlos Oliveira'),
 (13, 'Ana Costa', 'Pedro Ferreira'),
 (14, 'Ana Costa', 'Marcos Martins'),
 (15, 'Ana Costa', 'Luiz Pereira'),
 (16, 'Mariana Mendes', 'Carlos Oliveira'),
 (17, 'Mariana Mendes', 'Pedro Ferreira'),
 (18, 'Mariana Mendes', 'Marcos Martins'),
 (19, 'Mariana Mendes', 'Luiz Pereira')]

### 6.4
• O valor da diária.

In [ ]:
%%sql
SELECT
    Reserva.id,
    Reserva.preco_total
FROM
    Reserva
WHERE
    Reserva.status_reserva = TRUE
AND
    Reserva.data_check_in >= '2024-04-01';

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[(2, Decimal('115.00')),
 (5, Decimal('400.00')),
 (8, Decimal('200.00')),
 (10, Decimal('430.00')),
 (12, Decimal('320.00')),
 (13, Decimal('320.00')),
 (14, Decimal('320.00')),
 (15, Decimal('320.00')),
 (16, Decimal('320.00')),
 (17, Decimal('320.00')),
 (18, Decimal('320.00')),
 (19, Decimal('320.00'))]

## Exercício 7
Mostre o valor médio das diárias de todas as locações que foram feitas e das que foram confirmadas em cada mês para o qual exista alguma locação na base

In [ ]:
%%sql
SELECT
    EXTRACT(MONTH FROM Reserva.data_check_in) AS mes,
    ROUND(AVG(Propriedade.pernoite), 2) AS media
FROM
    Propriedade
INNER JOIN
    Reserva ON Reserva.prop_id = Propriedade.id
WHERE
    Reserva.status_reserva = TRUE
GROUP BY
    mes
ORDER BY
    mes

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[(Decimal('6'), Decimal('140.00')),
 (Decimal('7'), Decimal('170.00')),
 (Decimal('8'), Decimal('180.00')),
 (Decimal('9'), Decimal('100.00')),
 (Decimal('10'), Decimal('165.00')),
 (Decimal('11'), Decimal('230.00'))]

## Exercício 8
Mostre os anfitriões que tiveram pelo menos 3 locações, mostrando seu nome, sua cidade e quantidade de imóveis dos quais ele é dono.

In [ ]:
%%sql
DROP VIEW IF EXISTS tabela_usuario_n_propriedades;
CREATE VIEW tabela_usuario_n_propriedades AS
SELECT
    Usuario.id,
    CONCAT(Usuario.nome, ' ', Usuario.sobrenome) AS nome,
    Usuario.cidade,
    COUNT(DISTINCT Propriedade.id) AS n_propriedades
FROM
    Anfitriao
INNER JOIN
    Usuario ON Usuario.id = Anfitriao.user_id
INNER JOIN
    Propriedade ON Propriedade.anfi_id = Anfitriao.user_id
GROUP BY
    Usuario.id;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.

[]

In [ ]:
%%sql
SELECT
    T.id,
    T.nome AS nome,
    T.cidade,
    T.n_propriedades
FROM
    tabela_usuario_n_propriedades as T
INNER JOIN
    Usuario ON Usuario.id = T.id
INNER JOIN
    Propriedade ON Propriedade.anfi_id = T.id
LEFT JOIN
    Reserva ON Reserva.prop_id = Propriedade.id
WHERE
    Reserva.status_reserva = TRUE
GROUP BY
    T.id, T.nome, T.cidade, T.n_propriedades
HAVING
    COUNT(DISTINCT Reserva.id) >= 3;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[(4, 'Ana Costa', 'Rio do Fogo', 2), (16, 'Mariana Mendes', 'Natal', 3)]

## Exercício 9
Mostre os usuários que são tanto anfitriões quanto locatários.

In [ ]:
%%sql
SELECT
    *
FROM
    Usuario
INNER JOIN
    Anfitriao ON Anfitriao.user_id = Usuario.id
INNER JOIN
    Locatario ON Locatario.user_id = Usuario.id;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[(4, 'Ana', 'Costa', '444555666', datetime.date(1995, 3, 20), 'Rio do Fogo', 'RN', '59054-020', 'Rua D', '1004', None, 'ana@example.com', 'senha101', 'F', 4, 4),
 (12, 'Camila', 'Rodrigues', '373839404', datetime.date(1987, 10, 22), 'Rio do Fogo', 'RN', '59054-020', 'Rua L', '10', None, 'camila@example.com', 'senha909', 'F', 12, 12),
 (18, 'Patrícia', 'Carvalho', '616263646', datetime.date(1994, 5, 8), 'Bahia Formosa', 'RN', '59054-020', 'Rua R', '9', None, 'patricia@example.com', 'senha1515', 'F', 18, 18),
 (24, 'Patricia', 'Alves', '848586868', datetime.date(1982, 10, 3), 'Bahia Formosa', 'RN', '59054-020', 'Rua X', '37', None, 'patricia2@example.com', 'senha2121', 'F', 24, 24)]

## Exercício 10

### 10.1
• Os locatários que são mais jovens do que algum anfitrião.

In [ ]:
%%sql
SELECT
    Loca.id,
    Loca.nascimento
FROM
    Usuario AS Loca
INNER JOIN
    Locatario ON Locatario.user_id = Loca.id
WHERE
    Loca.nascimento > (SELECT
                            MIN(Usuario.nascimento) AS nascimento
                        FROM
                            Usuario
                        INNER JOIN
                            Anfitriao ON Anfitriao.user_id = Usuario.id
                        )
GROUP BY
    Loca.id, loca.nascimento
ORDER BY
    Loca.id

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
16 rows affected.

[(1, datetime.date(1990, 1, 1)),
 (3, datetime.date(1982, 12, 15)),
 (4, datetime.date(1995, 3, 20)),
 (5, datetime.date(1978, 8, 25)),
 (7, datetime.date(1983, 9, 5)),
 (9, datetime.date(1980, 2, 18)),
 (11, datetime.date(1993, 4, 15)),
 (12, datetime.date(1987, 10, 22)),
 (13, datetime.date(1981, 12, 8)),
 (15, datetime.date(1984, 2, 25)),
 (17, datetime.date(1979, 3, 3)),
 (18, datetime.date(1994, 5, 8)),
 (19, datetime.date(1986, 11, 20)),
 (21, datetime.date(1991, 8, 11)),
 (23, datetime.date(1997, 2, 4)),
 (24, datetime.date(1982, 10, 3))]

### 10.2
• Os locatários que são mais jovens do que todos os anfitriões.

In [ ]:
%%sql
SELECT
    Loca.id,
    Loca.nascimento
FROM
    Usuario AS Loca
INNER JOIN
    Locatario ON Locatario.user_id = Loca.id
WHERE
    Loca.nascimento > (SELECT
                            MAX(Usuario.nascimento) AS nascimento
                        FROM
                            Usuario
                        INNER JOIN
                            Anfitriao ON Anfitriao.user_id = Usuario.id
                        )
GROUP BY
    Loca.id, loca.nascimento
ORDER BY
    Loca.id

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(23, datetime.date(1997, 2, 4))]

## Resto

In [ ]:
%%sql
SELECT
    Propriedade.nome,
    Propriedade.cidade,
    Avaliacao.nota_valor
FROM
    Avaliacao
INNER JOIN
    Propriedade ON Propriedade.id = Avaliacao.prop_id
WHERE
    Avaliacao.nota_valor = 5;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Casa na Praia de Touros', 'Touros', Decimal('5')),
 ('Casa de Praia em Parnamirim', 'Parnamirim', Decimal('5')),
 ('Apartamento com Vista em Bahia Formosa', 'Bahia Formosa', Decimal('5')),
 ('Casa de Veraneio em Galinhos', 'Galinhos', Decimal('5'))]

In [ ]:
%%sql
SELECT
    Propriedade.nome,
    Foto.path
FROM
    Foto
INNER JOIN
    Avaliacao ON Avaliacao.id = Foto.avaliacao_id
INNER JOIN
    Propriedade ON Propriedade.id = Avaliacao.prop_id
WHERE
    Propriedade.id = 5;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Casa com Piscina em Canguaretama', 'caminho/da/foto9.jpg'),
 ('Casa com Piscina em Canguaretama', 'caminho/da/foto10.jpg')]

In [ ]:
%%sql
SELECT
    Usuario.nome,
    Usuario.sobrenome,
    SUM(Reserva.preco_total) AS ganhos_totais
FROM
    Reserva
INNER JOIN
    Propriedade ON Reserva.prop_id = Propriedade.id
INNER JOIN
    Anfitriao ON Propriedade.anfi_id = Anfitriao.user_id
INNER JOIN
    Usuario ON Usuario.id = Anfitriao.user_id
WHERE
    Usuario.id = 4
GROUP BY
    Usuario.nome, Usuario.sobrenome;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Ana', 'Costa', Decimal('1715.00'))]

In [ ]:
%%sql
SELECT
    Usuario.nome,
    Usuario.sobrenome,
    Mensagem.conteudo,
    Mensagem.timestamp
FROM
    Mensagem
INNER JOIN
    Usuario ON Usuario.id = Mensagem.id_user_envi
WHERE
    Mensagem.id_user_rece = 4
ORDER BY
    Mensagem.timestamp ASC;

 * postgresql://postgres:***@localhost/trabalho1
   postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('João', 'Silva', 'Gostaria de saber se aceitam cartão de crédito.', datetime.datetime(2024, 5, 14, 14, 34, 57, 861440)),
 ('João', 'Silva', 'Olá, estou interessado em alugar seu chalé em Rio do Fogo.', datetime.datetime(2024, 5, 14, 14, 34, 57, 861440)),
 ('Carlos', 'Oliveira', 'Perfeito! Qual é o preço da diária?', datetime.datetime(2024, 5, 14, 14, 34, 57, 861440)),
 ('Carlos', 'Oliveira', 'Sim, por favor.', datetime.datetime(2024, 5, 14, 14, 34, 57, 861440)),
 ('Carlos', 'Oliveira', 'Olá, estou procurando um lugar para passar o fim de semana em Natal.', datetime.datetime(2024, 5, 14, 14, 34, 57, 861440))]